{% extends "header.html" %}
{% block content %}
<h1 style="color: white; font-family:verdana; text-align:center;"> Contact us here </h1>
<h5 style="color: white; font-family:verdana; text-align:center;">Tell: +27 11 810 900</h5>
<h5 style="color: white; font-family:verdana; text-align:center;"> email: loudmusiq@gmail.com</h5>
</br>
</br>
<h3 style="color: white; font-family:verdana; text-align:center;"> Socials</h3>
<h5 style="color: white; font-family:verdana; text-align:center;">Facebook: Loud Musiq Ent</h5>
<h5 style="color: white; font-family:verdana; text-align:center;">twitter: @weareloud</h5>
<h5 style="color: white; font-family:verdana; text-align:center;"> Instagram: @loudmusiq_ent</h5>

{% endblock %}
